/* =========================================================
   RESET
========================================================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* =========================================================
   GLOBAL
========================================================= */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-family: Georgia, serif;
}

/* =========================================================
   VARIABLES
========================================================= */

:root {
    --border-color: #d35400;
    --text-color: #ffffff;
}

/* =========================================================
   UTILITAIRES
========================================================= */

.hidden {
    display: none !important;
}